<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>用户信息</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <style type="text/css">
        	table{border-collapse: collapse;text-align: center; }
        	a{text-decoration: none;}
        </style>

        <script type="text/javascript">

        </script>
    </head>


    <body>
    	<h1>用户信息</h1>
    	<table width="300" border="1">
    		<tr><th>UID</th><td><?php echo $data['uid'];?></td></tr>
            <tr><th>姓名</th><td><?php echo $data['tk_display_name'];?></td></tr>
    	</table>
        <a href="index.php">返回</a>
    </body>
</html>